$white: #ffffff;
$purple: #873780;
$greyText: #6e6d6d;

*, *:before, *:after{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h2{
  color: $purple;
}

p{
  color: $greyText;
}

button{
  border: none;
  height: 2.5rem;
  width: 120px;
  padding: 0 2rem;
  background-color: $purple;
  font-size: 1rem;
  color: $white;
  border-radius: .5rem;
  outline: none !important;
  cursor: pointer;
  margin-left: auto;
  &.whiteBtn{
    border: 1px solid $purple;
    background-color: $white;
    color: $purple;
  }
}

.headerComponent{
  text-align: center;
  padding: 1rem 0;
  img{
    display: block;
    margin: 0 auto;
    max-width: 90px;
  }
  .stepWrap{
    margin: 1rem 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .eachStep{
      background-color: #ccc;
      width: 18%;
      height: .5rem;
    }
    &.stepOne{
      .eachStep{
        &:first-child{
          background-color: #873780;
        }
      }
    }
    &.stepTwo{
      .eachStep{
        &:nth-of-type(-n + 2){
          background-color: #873780;
        }
      }
    }
    &.stepThree{
      .eachStep{
        &:nth-of-type(-n + 3){
          background-color: #873780;
        }
      }
    }
    
  }
}

.introWrap{
  padding: 0 6vw;
  margin-bottom: 2rem;
}

.toteBoxes{
  margin: 1rem 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p{
    &.boldIntro{
      font-size: 2rem;
    }
  }
  .eachToteItem{
    background-color: rgb(236, 234, 234);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 48%;
    height: auto;
    text-align: center;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.2, 1, 0.4, 1);
    p{
      margin: .5rem 0;
      margin-top: 0;
      font-weight: bold;
    }
    span{
      color: $purple;
      &.price{
        font-size: 1.5rem;
      }
    }
    &.toteActive, &:hover{
      background-color: $purple;
      p, span{
        color: $white;
      }
    }
  }
}

.bottomCentered{
  text-align: center;
  margin-top: 0;
}

.DayPicker-Caption{
  div{
    color: $purple;
  }
}

.DayPicker-Months{
  justify-content: flex-start;
  .DayPicker-Month{
    margin-left: 0;
    .DayPicker-Caption{
      padding-left: 0;
      padding-right: 2em;
    }
    .DayPicker-Weekdays, .DayPicker-Body{
      margin-left: -2.65rem !important;
    }
    .DayPicker-Day{
      padding: .75em;
      color: $greyText;
      border-radius: 2rem;
      &.DayPicker-Day--selected{
        background-color: #e1f0f8;
        color: $purple;
        font-weight: 600;
      }
    }
  }
}



form{
  color: inherit;
  display: block;
  padding: 0 5vw;
  label{
    color: $purple;
    &.boldLabel{
      font-size: 1.5rem;
    }
  }
  .formControl{
    width: 100%;
    padding: 0 2%;
    margin: 1.5% 0;
    margin-bottom: 2rem;
    &.submitControl{
      display: flex;
      button{
        margin-top: 1rem;
      }
      &.fullLenght{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        button{
          margin-left: initial;
          margin-left: 1rem;
          margin-top: 1rem;
        }
      }
    }
  }

  input[type=text], select{
    appearance: none;
    background-color: #F4F5F7;
    border-radius: .5rem;
    padding: 0 .75rem;
    width: 100%;
    border: none;
    outline: none;
    margin-top: .75rem;
    font-size: 1rem;
    height: 2.75rem;
    color: $greyText;
  }
  select{
    background-position: 97% center !important;
    background-image: url('./images/select-arrow.png');
    background-size: 20px !important;
    background-repeat: no-repeat !important;
  }
  input[type=radio]{
    cursor: pointer;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center !important;
    background-image: url('./images/ratio-off.png');
    background-size: 1.4rem !important;
    background-repeat: no-repeat !important;
    outline: none;
    &:checked{
      background-image: url('./images/ratio-on.png');
    }
  }
  .ratioWrap{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &:first-of-type{
      margin-top: 1.25rem;
    }
    label{
      cursor: pointer;
      color: $greyText;
      font-size: .95rem;
      margin: 0 .25rem;
      margin-top: .35rem;
    }
  }
}

::-webkit-input-placeholder {
  color: $greyText;
}

:-ms-input-placeholder { 
  color: $greyText;
}

::placeholder {
  color: $greyText;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (min-width: 768px) {
  .headerComponent{
    text-align: center;
    padding: 1rem 0;
    img{
      display: block;
      margin: 0 auto;
      max-width: 140px;
    }
  }

  .introWrap{
    padding: 0 8vw;
    margin-bottom: 2rem;
  }

  form{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8vw;
    .formControl{
      width: 50%;
      padding: 0;
      padding-right: 1.5%;
      margin: 1.5% 0;
      &:nth-of-type(2n){
        padding: 0;
        padding-left: 1.5%;
      }
      input[type=text], select{
        height: 3.25rem;
      }
      &.fullLenght{
        width: 100%;
        padding: 0;
      }
      &.submitControl{
        button{
          margin-top: 3rem;
        }
        &.fullLenght{
          button{
            margin-top: 0;
          }
        }
      }
    }
  }

  .toteBoxes{
    margin: 1rem 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p{
      &.boldIntro{
        font-size: 2rem;
      }
    }
    .eachToteItem{
      padding: 1rem 2rem;
      width: 23%;
      p{
        font-size: 1.25rem;
      }
      span{
        color: $purple;
        &.price{
          font-size: 3rem;
        }
      }
    }
  }

}
